email-validator>=2.2.0
flask-login>=0.6.3
flask>=3.1.0
flask-sqlalchemy>=3.1.1
gunicorn>=23.0.0
psycopg2-binary>=2.9.10
flask-jwt-extended>=4.7.1
pydantic>=2.11.4
requests>=2.32.3
openai>=1.78.0
trafilatura>=2.0.0